# Keycloak Admin Credentials
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=changeme

# PostgreSQL Database (for Keycloak internal use)
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=changeme

# Public URL (accessible from internet)
# This is where users' browsers will be redirected for login
KC_HOSTNAME_URL=https://auth.5tritti.de
